@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  body {
    @apply dark:bg-neutral-600
  }
  .btn {
    @apply text-white 
    font-bold 
    py-1 
    rounded
  }

  .btn-form {
    @apply bg-blue-500
    hover:bg-blue-700
    dark:bg-indigo-500
    dark:hover:bg-indigo-700
  }

  .btn-card {
    @apply bg-blue-700
    dark:bg-neutral-700
    px-2
    mx-2
  }
  .btn-lg {
    @apply text-lg
    w-1/3
    h-10
  }

  .btn-md {
    @apply text-base
    h-8
  }
  .btn-xl {
    @apply text-xl
    w-screen
    h-10
    px-2;
    width:30%
  }

  label {
    @apply font-bold
    dark:text-white
  }

  input {
    @apply w-full
  }

  select {
    @apply block
    w-full
  }

  h1 {
    @apply font-bold
    text-blue-500
    text-5xl
    dark:text-white
  }

  h2 {
    @apply font-bold
    text-blue-500
    text-4xl
    dark:text-white
  }

  h3 {
    @apply font-bold
    text-blue-500
    text-3xl
    dark:text-white
  }
  h4 {
    @apply font-bold
    text-blue-500
    text-xl
    dark:text-white 
  }

  h5 {
    @apply font-bold
    text-blue-500
    text-lg
    dark:text-white  
  }

  hr {
    @apply border-blue-500
    dark:border-white
  }

  .link {
    @apply text-blue-600
    underline
    dark:text-blue-400
  }

  .sidenav {
    @apply left-0
    h-full
    bg-blue-400
    fixed
    top-0
    w-1/6
    shadow-md
    dark:bg-neutral-900
  }

  .nav-item {
    @apply rounded
    text-white
    bg-blue-400
    hover:bg-blue-300
    text-xl
    font-bold
    text-left
    dark:bg-neutral-900
    dark:hover:bg-neutral-400
  }

  .page-body{
    margin-left: 16rem
  }

  .card {
    @apply bg-blue-100
    rounded-lg
    w-full
    block
    p-4
    shadow-md
    my-2
    text-blue-500
    dark:bg-gray-400
    dark:text-white
    dark:hover:bg-gray-400
  }

}

